/********************** Variables **********************/
:root {
    /*Colors*/
    --color-main: #FD420A;
    --color-main-hover: #d43404;

    --color-black-blue: #10151C;
    --color-dark-blue-1: #161B23;
    --color-dark-blue-2: #1B212B;
    --color-dark-blue-3: #1E242C;
    --color-dark-blue-4: #2d3238;

    --color-bright-blue: #2979FF;
    --color-teal: #2EC4B6;
    --color-lime-green: #A3E635;
    --color-orange: #FF8c42;
    --color-red-salmon: #FF6B6B;
    --color-yellow-light: #FFD166;

    --color-gray-light: #D9D9D9;
    --color-gray-bluish: #B0BEC5;

    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-backdrop: #1b212b80;
    --color-background-player: #1e242cda;

    /*Font*/
    --font-firacode: 'Fira Code', monospace;
    --fw-regular: 400;
    --fw-medium: 500;

    --fs-xxxsmall: 11px;
    --fs-xxsmall: 14px;
    --fs-xsmall: 16px;
    --fs-small: 18px;
    --fs-regular: 20px;
    --fs-medium: 22px;
    --fs-big: 24px;
    --fs-xbig: 28px;
    --fs-xxbig: 32px;
    --fs-xxxbig: 36px;
}

/********************** General **********************/
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: var(--font-firacode);
    background-color: var(--color-black-blue);
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

/********************** Scroll **********************/
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-gray-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-main-hover);
}

/********************** Buttons **********************/
.btn {
    border: none;
    cursor: pointer;
    background-color: transparent;

    padding: 14px 20px;
    border-radius: 15px;
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--color-main);
    transition: background ease-in-out 150ms;
}

.btn-primary:hover {
    background-color: var(--color-main-hover);
}

.btn-secondary {
    color: var(--color-white);
    background-color: var(--color-dark-blue-3);
    transition: background ease-in-out 150ms;
}

.btn-secondary:hover {
    color: var(--color-white);
    background-color: var(--color-dark-blue-4);
    transition: background ease-in-out 150ms;
}

.btn-outline-secondary {
    color: var(--color-white);
    border: 2px solid var(--color-dark-blue-3);
    transition: border-color ease-in-out 300ms;
}

.btn-outline-secondary:hover {
    border-color: var(--color-gray-bluish);
}

/********************** Icons **********************/
.icon-white {
    color: var(--color-white);
}

.icon-teal {
    color: var(--color-teal);
}

.icon-orange {
    color: var(--color-orange);
}

.icon-yellow {
    color: var(--color-yellow-light);
}

.icon-salmon {
    color: var(--color-red-salmon);
}

.icon-main {
    color: var(--color-main);
}

/********************** Modals **********************/
.modal {
    top: 0;
    left: 0;
    position: fixed;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-backdrop {
    width: 100%;
    height: 100%;

    position: absolute;
    background-color: var(--color-backdrop);
}

.modal-content {
    min-width: 450px;
    padding: 25px;
    border-radius: 15px;
    background-color: var(--color-dark-blue-2);
}

.modal-title {
    display: flex;
    position: relative;
    justify-content: center;

    color: var(--color-white);
    font-size: var(--fs-regular);
}

.modal-title-text {
    color: var(--color-white);
}

.modal-title-actions {
    right: 0;
    position: absolute;
}

.modal-title-icon {
    cursor: pointer;
    font-size: var(--fs-xxbig);
    background-color: transparent;
}

.modal-actions {
    margin-top: 25px;
}

.modal-input-container {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.modal-label {
    margin-bottom: 7px;
    color: var(--color-white);
    font-size: var(--fs-xsmall);
}

.modal-input {
    padding: 13px 15px;
    border-radius: 15px;
    background-color: transparent;

    color: var(--color-white);
    border: 2px solid var(--color-gray-bluish);
    transition: border-color ease-in-out 250ms;
}

.modal-input:focus,
.modal-input:not(:placeholder-shown) {
    border: 2px solid var(--color-main);
}

.modal-input::placeholder {
    color: var(--color-white);
}

.modal-input-button {
    width: 100%;
    color: var(--color-white);
    border: 2px solid var(--color-main);
    transition: background ease-in-out 150ms;
}

.modal-input-button:hover {
    background-color: var(--color-main);
}

/********************** Navbar **********************/
.navbar {
    top: 0;
    left: 0;
    position: fixed;

    width: 100%;
    height: 76px;
    padding: 25px 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-dark-blue-1);
}

.icon-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-toggle-icon {
    font-size: 35px;
    margin-right: 25px;
    color: var(--color-white);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    border-radius: 10px;
}

.search {
    height: 45px;
    width: 500px;
    padding: 0px 0px 0px 15px;

    color: var(--color-white);
    background-color: transparent;

    font-weight: var(--fw-medium);
    font-family: var(--font-firacode);
}

.search::placeholder {
    color: var(--color-gray-bluish);
}

#search-btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--color-dark-blue-3);
}

.search-icon {
    font-size: var(--fs-big);
    color: var(--color-white);
}

.search-results {
    top: 55px;
    position: absolute;

    min-width: 100%;
    max-height: max-content;

    background-color: var(--color-dark-blue-3);
}

.search-result-text {
    min-width: 100%;
    padding: 15px;

    cursor: pointer;
    color: var(--color-white);
    font-size: var(--fs-xxsmall);
}

.search-result-text:hover {
    background-color: var(--color-dark-blue-4);
}

.search-results-links {
    display: flex;
    flex-direction: column;
}

.search-backdrop {
    z-index: 15;
}

/********************** Sidebar **********************/
.sidebar {
    top: 76px;
    z-index: 10;
    position: fixed;

    width: 270px;
    height: calc(100vh - 76px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-dark-blue-1);
    transition: left ease-in-out 150ms;
}

.sidebar-link-container {
    width: 100%;
    height: 65px;
    padding: 25px 35px;
    color: var(--color-white);

    display: flex;
    align-items: center;

    transition: background-color ease-in-out 150ms;
}

.sidebar-link-container:hover {
    background-color: var(--color-dark-blue-2);
}

.sidebar-link-container-active {
    background-color: var(--color-dark-blue-2);
}

.sidebar-link-icon {
    font-size: 28px;
}

.sidebar-link-text {
    margin-left: 20px;
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
}

.sidebar-extra {
    margin-bottom: 25px;
    margin-left: 18px;
    color: var(--color-gray-bluish);
}

#sidebar-actions {
    gap: 15px;
    display: flex;
    flex-direction: column;

    padding: 10px 15px;
}

/********************** Content **********************/
.content {
    overflow-y: auto;

    margin-top: 76px;
    height: calc(100vh - 76px);

    padding: 40px 20px;
    transition: margin-left ease-in-out 150ms;
}

/********************** Video Carousel **********************/
.carousel-list {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.video-carousel {
    width: 100%;
}

.video-carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-carousel-title {
    display: flex;
    align-items: center;

    color: var(--color-white);
}

.video-carousel-title-icon {
    font-size: var(--fs-xbig);
}

.video-carousel-title-text {
    margin-left: 15px;
    font-size: var(--fs-big);
}

.video-carousel-actions-link {
    display: flex;
    align-items: center;
}

.video-carousel-actions-link-text {
    margin-right: 5px;

    color: var(--color-white);
    font-size: var(--fs-xsmall);
}

.video-carousel-slider {
    display: flex;

    gap: 40px;
    margin-top: 30px;
    overflow-x: auto;

    padding-bottom: 15px;
}

.video-carousel-item {
    width: 260px;
    color: var(--color-white);
}

.video-carousel-item-thumbail {
    width: 260px;
    height: 150px;
    border-radius: 15px;

    overflow: hidden;
    background-color: #D9D9D9;
}

.video-carousel-item-info {
    display: flex;
    margin-top: 15px;
}

.video-carousel-item-channel-profile {
    min-width: 35px;
    min-height: 35px;

    max-width: 35px;
    max-height: 35px;

    border-radius: 100%;
    margin-right: 15px;

    overflow: hidden;
    background-color: #D9D9D9;
}

.video-carousel-item-info-cont,
.video-carousel-item-channel-info {
    width: 100%;
}

.video-carousel-item-title {
    height: 36px;
    max-width: 280px;

    display: block;
    overflow: hidden;

    color: var(--color-white);
    font-size: var(--fs-xxsmall);
    margin-bottom: 10px;
}

.video-carousel-item-channel-info {
    display: flex;
    justify-content: space-between;
}

.video-carousel-item-channel-name,
.video-carousel-item-channel-views {
    color: var(--color-white);
    font-size: var(--fs-xxxsmall);
}

/********************** Content Section **********************/
.content-section-title {
    display: flex;
    align-items: center;
}

.content-section-title-icon {
    margin-right: 10px;
    font-size: var(--fs-xxbig);
}

.content-section-title-text {
    font-size: var(--fs-big);
    color: var(--color-white);
}

.content-section-actions {
    margin-top: 25px;

    display: flex;
    justify-content: space-between;
}

.content-section-actions-search-input {
    max-width: 320px;
    border-radius: 15px;

    color: var(--color-white);
    background-color: var(--color-dark-blue-1);
}

.content-section-videos {
    width: 100%;
    margin-top: 40px;

    gap: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.content-section-video {
    width: 260px;
    margin-bottom: 15px;
    color: var(--color-white);
}

.content-section-video-thumbail {
    width: 380px;
    height: 230px;
    border-radius: 15px;

    overflow: hidden;
    background-color: #D9D9D9;
}

.content-section-video-info {
    width: 145%;
    display: flex;
    margin-top: 15px;
}

.content-section-video-channel-profile {
    min-width: 35px;
    min-height: 35px;

    max-width: 35px;
    max-height: 35px;

    border-radius: 100%;
    margin-right: 15px;

    overflow: hidden;
    background-color: #D9D9D9;
}

.content-section-video-info-cont,
.content-section-video-channel-info {
    width: 100%;
}

.content-section-video-title {
    height: 20px;
    max-width: 280px;

    display: block;
    overflow: hidden;

    color: var(--color-white);
    font-size: var(--fs-xxsmall);
    margin-bottom: 10px;
}

.content-section-video-channel-info {
    display: flex;
    justify-content: space-between;
}

.content-section-video-channel-name,
.content-section-video-channel-views {
    color: var(--color-white);
    font-size: var(--fs-xxxsmall);
}

/********************** Search Section **********************/
.content-search-section {
    width: 100%;
    margin-top: 35px;

    gap: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content-search-video {
    display: flex;
    margin-bottom: 15px;
}

.content-search-video-thumbail {
    width: 480px;
    height: 200px;

    margin-right: 25px;
    border-radius: 15px;

    overflow: hidden;
    background-color: #D9D9D9;
}

.content-search-video-info {
    width: 100%;
    display: block;
    color: var(--color-white);
}

.content-search-video-info-extra {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;
}

.content-search-channel-profile {
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-search-video-channel-profile {
    min-width: 35px;
    min-height: 35px;

    max-width: 35px;
    max-height: 35px;

    border-radius: 100%;
    margin-right: 15px;

    display: block;
    overflow: hidden;
    background-color: #D9D9D9;
}

.content-search-video-channel-name {
    color: var(--color-white);
}

.content-search-video-info-detail {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.content-search-video-title {
    color: var(--color-white);
    font-size: var(--fs-regular);
}

.content-search-video-description {
    color: var(--color-gray-bluish);
}

.content-search-video-views {
    font-size: var(--fs-xxxsmall);
}

/********************** Video player **********************/
.video-player {
    z-index: 5;
    width: 100%;
    position: relative;
    aspect-ratio: 16 / 9;

    overflow: hidden;
    border-radius: 15px;
    background-color: var(--color-black);
}

.video-player video {
    width: 100%;
    height: 100%;

    display: block;
    object-fit: contain;
}

.video-player-controls {
    width: 100%;
    padding: 15px 10px 5px 10px;
    border-radius: 0 0 15px 15px;

    bottom: 0;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--color-main);
    background-color: var(--color-background-player);
}

.video-player-progress-container {
    top: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 7px;
    background-color: var(--color-dark-blue-1);
}

.video-player-progress {
    width: 0%;
    height: 7px;
    background-color: var(--color-main);
}

.video-player-controls-left,
.video-player-controls-right {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-player-btn {
    cursor: pointer;
    user-select: none;
}

.video-player-volume-container {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-player-volume-input {
    -moz-appearance: none;
    -webkit-appearance: none;

    width: 80px;
    height: 5px;
    cursor: pointer;
    background: transparent;
}

.video-player-volume-input::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 15px;
    background: var(--color-main);
}

.video-player-volume-input::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    border-radius: 50%;
    -webkit-appearance: none;

    border: none;
    cursor: pointer;
    background: var(--color-main-hover);
}

.video-player-volume-input::-moz-range-track {
    height: 5px;
    border-radius: 15px;
    background: var(--color-main);
}

.video-player-volume-input::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    border: none;
    cursor: pointer;
    background: var(--color-main-hover);
}


.video-player-controls-time {
    user-select: none;
}

/********************** Watch Video Section **********************/
.watch-video-container {
    gap: 35px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.watch-videos-related {
    padding: 15px 10px;
}

/********************** Media Queries **********************/
@media (max-width: 2200px) {
    /*** Content Section ***/
    .content-section-videos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1800px) {
    /*** Content Section ***/
    .content-section-videos {
        grid-template-columns: repeat(3, 1fr);
    }

    /*** Search Section ***/
    .content-search-section {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1400px) {
    /*** Content Section ***/
    .content-section-videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1200px) {
    /*** Navbar ***/
    #search-btn {
        display: block;
    }

    .search-backdrop {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        position: fixed;
        background-color: var(--color-backdrop);
    }

    #search-result-input {
        inset: 0;
        width: 70%;
        z-index: 2;

        top: 220px;
        left: 15%;
        display: none;
        position: fixed;

        border-radius: 10px;
        background-color: var(--color-dark-blue-3);
    }

    .search-results {
        display: none;
    }

    #navbar-actions {
        display: none;
    }

    /*** Sidebar ***/
    .sidebar {
        left: -270px;
        position: absolute;
    }

    .sidebar-hide {
        left: 0;
    }

    /*** Content ***/
    .content {
        margin-left: 0;
    }

    /*** Content Section ***/
    .content-section-video-thumbail {
        width: 360px;
        height: 220px;
    }

    .content-section-video-info {
        width: 135%;
    }
}

@media (max-width: 992px) {
    /*** Scroll ***/
    ::-webkit-scrollbar {
        height: 0;
    }

    /*** Search Section ***/
    .content-search-video {
        display: block;
    }

    .content-search-video-thumbail {
        width: 700px;
        height: 380px;

        margin-right: 0;
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    /*** Content Section ***/
    .content-section-video-thumbail {
        width: 360px;
        height: 220px;
    }

    .content-section-videos {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-section-video-thumbail {
        width: 560px;
        height: 340px;
    }

    .content-section-video-info {
        width: 210%;
    }

    /*** Search Section ***/
    .content-search-video-thumbail {
        width: 500px;
        height: 280px;
    }
}

@media (max-width: 600px) {
    /*** Navbar ***/
    #search-result-input {
        width: 60%;
    }

    /*** Modal ***/
    .modal-content {
        min-width: 330px;
        padding: 25px;
        border-radius: 15px;
        background-color: var(--color-dark-blue-2);
    }

    /*** Video Carousel ***/
    .video-carousel-actions-link-text {
        display: none;
    }

    /*** Content Section ***/
    .content-section-actions {
        gap: 15px;
        flex-direction: column;
    }

    .content-section-actions-search-input {
        max-width: 100%;
    }

    .content-section-video-thumbail {
        width: 460px;
        height: 260px;
    }

    .content-section-video-info {
        width: 175%;
    }

    /*** Search Section ***/
    .content-search-video-thumbail {
        width: 330px;
        height: 200px;
    }

    /*** Video Player ***/
    #video-player-volume {
        display: none;
    }
}

@media (max-width: 500px) {

    /*** Content Section ***/
    .content-section-video-thumbail {
        width: 320px;
        height: 200px;
    }

    .content-section-video-info {
        width: 120%;
    }
}

@media (min-width: 1201px) {
    /*** Navbar ***/
    #search-btn {
        display: none;
    }

    .search-container {
        background-color: var(--color-dark-blue-3);
    }

    /*** Sidebar ***/
    .sidebar {
        margin-left: 0;
    }

    .sidebar-hide {
        left: -270px;
    }

    #sidebar-actions {
        display: none;
    }

    /*** Content ***/
    .content {
        margin-left: 270px;
    }

    .content-shide {
        margin-left: 0;
    }
}