<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Welcome to Floua</title>
</head>

<body style="margin:0; padding:0; background-color:#171c25; font-family:'Fira Code', monospace;">

    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td align="center" valign="top" style="padding:20px;">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0"
                    style="max-width: 600px; background-color:#10151C; border-radius: 10px; padding:35px; color:#FFFFFF;">
                    <tr>
                        <td align="center" style="padding-bottom:30px;">
                            <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td align="center" style="padding-right:8px;">
                                        <img src="https://i.ibb.co/Q7N2DVJq/icon.png" alt="Floua Logo" width="100" style="display:block;"> <!--Logo location-->
                                    </td>
                                    <td align="center" style="font-size:48px; font-weight:600; color:#FFFFFF;">Floua</td>
                                    <td align="center" style="display: block; margin-top: 45px; margin-left: 5px; background-color:#FD420A; color:#FFFFFF; border-radius:5px; font-size: 15px; padding: 3px 5px">Beta</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:24px; font-weight:600; padding-bottom:15px;">
                            Hi <span style="color:#FD420A; font-weight:600; text-transform:capitalize;">{{ username }}!</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:18px; font-weight:500; padding-bottom:15px;">
                            Thanks for joining to <span style="color:#FD420A; font-weight:600;">Floua!</span> You now
                            have a place to enjoy your content without intrusive ads and support creators directly!
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:18px; font-weight:500; padding-bottom:15px;">
                            Default role: <span style="color:#FD420A; font-weight:600;">{{ role }}</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:18px; font-weight:500; padding-bottom:15px; color: #FFFFFF;">
                            As a <span style="color:#FD420A; font-weight:600;">{{ role }}</span>, you can:
                            <ul style="padding-left:25px; margin:0;">
                                <li>Discover and follow creators you love!</li>
                                <li>Use points to support creators!</li>
                                <li>Explore categories and tags to find unique content fast!</li>
                                <li>Listen music connecting your <span
                                        style="color:#2979FF; font-weight:600;">TIDAL</span> account</li>
                                <li>Receive your a notification from your favorite <span
                                        style="color:#FD420A; font-weight:600;">creator</span> when they are <span
                                        style="color:#A3E635; font-weight:600;">streaming!</span></li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:18px; font-weight:500; padding-bottom:15px;">
                            Want to publish? Create your channel in a couple of clicks - you'll switch to a <span
                                style="color:#FD420A; font-weight:600;">Creator</span> experience instantly!
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size:18px; font-weight:500; padding-bottom:15px;">
                            We're just getting <span style="color:#FD420A; font-weight:600;">started!</span> Our team is
                            hard at work building new features and tools to make Floua even more exciting. Keep an eye
                            out, <span style="color:#FD420A; font-weight:600;">the best is yet to come!</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="display: block; text-align: center; margin: 25px 0;">
                            <a href="https://floua.app" style="text-decoration: none; color: #FFFFFF; background-color: #FD420A; padding: 15px 10px; border-radius: 15px; font-size: 18px; font-weight: 600;">Take me to Floua!</a>
                        </td>
                    </tr>
                </table>

                <table role="presentation" width="600" cellspacing="0" cellpadding="0" border="0"
                    style="margin-top:20px;">
                    <tr>
                        <td align="center" style="color:#FFFFFF; font-size:18px; padding:15px;">No more intrusive ads.
                            Just creator-powered sponsorships.</td>
                    </tr>
                    <tr>
                        <td align="center" style="color:#FFFFFF; font-size:18px; padding:15px;">&copy; 2025 Floua. All
                            rights reserved.</td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

</body>

</html>