/********************** Modules **********************/
@import "tailwindcss";

/********************** Variables **********************/
:root {
    /*Colors*/
    --color-main: #FD420A;
    --color-main-hover: #d43404;

    --color-black-blue: #10151C;
    --color-dark-blue-1: #161B23;
    --color-dark-blue-2: #1B212B;
    --color-dark-blue-3: #1E242C;
    --color-dark-blue-4: #2d3238;

    --color-bright-blue: #2979FF;
    --color-teal: #2EC4B6;
    --color-green: #16A34A;
    --color-lime-green: #A3E635;
    --color-orange: #FF8c42;
    --color-red: #DC2626;
    --color-red-salmon: #FF6B6B;
    --color-yellow-light: #FFD166;

    --color-gray-light: #D9D9D9;
    --color-gray-bluish: #B0BEC5;

    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-backdrop: #1b212b80;
    --color-background-player: #1e242cda;

    /*Font*/
    --font-firacode: 'Fira Code', monospace;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600;

    --fs-xxxsmall: 11px;
    --fs-xxsmall: 14px;
    --fs-xsmall: 16px;
    --fs-small: 18px;
    --fs-regular: 20px;
    --fs-medium: 22px;
    --fs-big: 24px;
    --fs-xbig: 28px;
    --fs-xxbig: 32px;
    --fs-xxxbig: 36px;
    --fs-xxxxbig: 48px;
}

/********************** General **********************/
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    color: var(--color-white);
    font-family: var(--font-firacode);
    background-color: var(--color-black-blue);
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

/********************** Scroll **********************/
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-gray-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-main-hover);
}

/********************** Colors **********************/
.color-white {
    color: var(--color-white);
}

.color-teal {
    color: var(--color-teal);
}

.color-lime-green {
    color: var(--color-lime-green);
}

.color-blue {
    color: var(--color-bright-blue);
}

.color-orange {
    color: var(--color-orange);
}

.color-yellow {
    color: var(--color-yellow-light);
}

.color-salmon {
    color: var(--color-red-salmon);
}

.color-red {
    color: var(--color-red);
}

.color-main {
    color: var(--color-main);
}

/********************** Buttons **********************/
.btn {
    border: none;
    cursor: pointer;
    background-color: transparent;

    padding: 14px 20px;
    border-radius: 15px;
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--color-main);
    transition: background ease-in-out 150ms;
}

.btn-primary:hover {
    background-color: var(--color-main-hover);
}

.btn-secondary {
    color: var(--color-white);
    background-color: var(--color-dark-blue-3);
    transition: background ease-in-out 150ms;
}

.btn-secondary:hover {
    color: var(--color-white);
    background-color: var(--color-dark-blue-4);
    transition: background ease-in-out 150ms;
}

.btn-outline-secondary {
    color: var(--color-white);
    border: 2px solid var(--color-dark-blue-3);
    transition: border-color ease-in-out 300ms;
}

.btn-outline-secondary:hover {
    border-color: var(--color-gray-bluish);
}

/********************** Notifications **********************/
.notification-container {
    top: 15px;
    right: 25px;
    position: absolute;

    z-index: 9999999;
}

.notification {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--color-white);
}

.notification-info {
    background-color: var(--color-teal);
}

.notification-success {
    background-color: var(--color-green);
}

.notification-warning {
    background-color: var(--color-orange);
}

.notification-alert {
    background-color: var(--color-red);
}

/********************** Navbar **********************/
.navbar {
    z-index: 999999;

    top: 0;
    left: 0;
    position: fixed;

    width: 100%;
    height: 76px;
    padding: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-dark-blue-1);
}

.icon-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 45px;
}

.logo-text {
    color: var(--color-white);
    font-size: var(--fs-regular);
    font-weight: var(--fw-bold);
}

.logo-text-extra {
    padding: 2px 5px;
    border-radius: 5px;

    color: var(--color-white);
    background-color: var(--color-main);
}

.sidebar-toggle {
    padding: 0;
    display: block;
}

.sidebar-toggle-icon {
    font-size: 35px;
    margin-right: 25px;
    color: var(--color-white);
}

.navbar-btn-signup {
    margin-left: 15px;
}

.navbar-user-notifications-container {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.navbar-user-notifications-container-new {
    background-color: var(--color-main);
}

.navbar-user-notifications-icon {
    color: var(--color-white);
    font-size: var(--fs-medium);
}

.navbar-user-session {
    gap: 15px;
    padding: 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-user-session-points {
    color: var(--color-white);
    font-weight: var(--fw-bold);
    font-size: var(--fs-regular);

    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-user-session-points-image {
    width: 35px;
    height: 35px;
}

.navbar-user-avatar-container-ref,
.navbar-user-notifications-container-ref {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-user-avatar-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;

    cursor: pointer;
    position: relative;
}

.navbar-user-avatar-overlay {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    position: absolute;
}

.navbar-user-avatar-extra-container {
    right: 0;
    top: 76px;
    position: absolute;
    overflow: hidden;

    border-radius: 15px;
    background-color: var(--color-dark-blue-3);

    box-shadow: 10px 10px 10px var(--color-black-blue);
}

.navbar-user-avatar-extra-divider {
    width: 100%;
    height: 1px;

    background-color: var(--color-gray-bluish);
}

.navbar-user-avatar-extra-account {
    padding: 10px 25px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-user-avatar-extra-account-avatar {
    width: 60px;
    overflow: hidden;
}

.navbar-user-avatar-extra-account-info {
    margin-left: 15px;
    padding: 15px 0px;

    color: var(--color-white);
    font-weight: var(--fw-bold);

    display: flex;
    flex-direction: column;
}

.navbar-user-avatar-extra-username {
    text-transform: capitalize;
    font-size: var(--fs-regular);
}

.navbar-user-avatar-extra-links {
    width: 300px;
}

.navbar-user-avatar-extra-link,
.navbar-user-avatar-extra-link-logout {
    display: flex;
    align-items: center;

    padding: 20px 25px;
    color: var(--color-white);
    transition: background-color 350ms ease-in-out;
}

.navbar-user-avatar-extra-link:hover {
    background-color: var(--color-dark-blue-4);
}

.navbar-user-avatar-extra-link-logout:hover {
    background-color: var(--color-red);
}

.navbar-user-avatar-extra-link-icon {
    margin-right: 10px;
}

/*.search-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    border-radius: 10px;
}

.search {
    height: 45px;
    width: 500px;
    padding: 0px 0px 0px 15px;

    color: var(--color-white);
    background-color: transparent;

    font-weight: var(--fw-medium);
    font-family: var(--font-firacode);
}

.search::placeholder {
    color: var(--color-gray-bluish);
}

#search-btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--color-dark-blue-3);
}

.search-icon {
    color: var(--color-white);
    font-size: var(--fs-xsmall);
}

.search-results {
    top: 55px;
    position: absolute;

    min-width: 100%;
    max-height: max-content;

    background-color: var(--color-dark-blue-3);
}

.search-result-text {
    min-width: 100%;
    padding: 15px;

    cursor: pointer;
    color: var(--color-white);
    font-size: var(--fs-xxsmall);
}

.search-result-text:hover {
    background-color: var(--color-dark-blue-4);
}

.search-results-links {
    display: flex;
    flex-direction: column;
}

.search-backdrop {
    z-index: 15;
}*/

/********************** Sidebar **********************/
.sidebar {
    z-index: 999999;

    top: 76px;
    position: fixed;

    width: 270px;
    height: calc(100vh - 76px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--color-dark-blue-1);

    transition: left ease-in-out 150ms;
}

.sidebar-link-container {
    gap: 35px;

    width: 100%;
    height: 65px;
    padding: 25px 35px;
    color: var(--color-white);

    display: flex;
    align-items: center;

    transition: background-color ease-in-out 150ms;
}

.sidebar-link-container:hover,
.sidebar-link-container-active {
    background-color: var(--color-dark-blue-2);
}

.sidebar-link-icon-container {
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-link-text {
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
}

.sidebar-extra {
    margin-bottom: 25px;
    margin-left: 18px;
    color: var(--color-gray-bluish);
}

#sidebar-actions {
    gap: 15px;
    display: flex;
    flex-direction: column;

    padding: 10px 15px;
}

/********************** Authentication **********************/
.auth-container {
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-video-background {
    top: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 100vh;

    z-index: -2;
    object-fit: cover;
}

.auth-video-overlay {
    top: 0;
    left: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: -1;
    opacity: 0.65;
    object-fit: cover;
    background-color: var(--color-dark-blue-2);
}

.auth-container-form {
    gap: 35px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-brand-full {
    margin-bottom: 25px;

    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.auth-brand-full-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.auth-brand-full-logo {
    width: 100px;
}

.auth-brand-full-text {
    color: var(--color-white);
    font-size: var(--fs-xxxxbig);
    font-weight: var(--font-weight-extrabold);
}

.auth-brand-full-text-extra {
    margin-top: 15px;
    margin-left: 8px;

    padding: 2px 5px;
    border-radius: 5px;

    color: var(--color-white);
    background-color: var(--color-main);
}

.auth-brand-full-text-small {
    padding: 15px;
    text-align: center;

    color: var(--color-white);
    font-size: var(--fs-small);
}

.form-auth-container {
    width: 400px;
    color: var(--color-white);

    gap: 25px;
    display: flex;
    flex-direction: column;

    padding: 35px;
    border-radius: 10px;

    background-color: var(--color-black-blue);
}

.form-auth-input {
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    border: 2px solid var(--color-white);
}

.form-auth-input::placeholder {
    color: var(--color-white);
}

.form-auth-input-hint {
    margin: -10px 0;
    font-size: var(--fs-xxsmall);
    color: var(--color-gray-bluish);
}

.auth-chage-link-container {
    text-align: center;
}

.auth-chage-link {
    color: var(--color-main);
    font-weight: var(--fw-bold);
}

.auth-keep-session-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-auth-input-session {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: var(--color-main);
}

/********************** Content **********************/
.content {
    overflow-y: auto;
    overflow-x: hidden;

    margin-top: 76px;
    height: calc(100vh - 76px);

    padding: 25px 30px;
    transition: margin-left ease-in-out 150ms;

    /* background: linear-gradient(25deg, var(--color-black-blue) 35%, var(--color-main) 100%); */
}

.content-title-container {
    padding: 15px 25px;
    margin-bottom: 15px;
}

.content-title-icon {
    margin-right: 10px;
}

.content-title {
    color: var(--color-white);
    font-size: var(--fs-xbig);

    gap: 10px;
    display: flex;
    align-items: center;
}

/********************** Floua Video Player **********************/
.floua-player {
    position: relative;

    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: var(--color-black);

    overflow: hidden;
    border-radius: 15px;
}

.floua-player video {
    width: 100%;
    height: 100%;

    display: block;
    object-fit: contain;
}

.floua-player-overlay {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    position: absolute;
}

.floua-player-controls {
    width: 100%;
    padding: 15px 10px 5px 10px;

    left: 0;
    bottom: 0;
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-background-player);
}

.floua-player-progress-container {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    appearance: none;

    cursor: pointer;

    height: 5px;
    width: 100%;

    top: 0;
    left: 0;
    z-index: 999;
    position: absolute;
    accent-color: var(--color-main);

    background: linear-gradient(to right, var(--color-main) 50%, var(--color-black-blue) 50%);
    transition: height 150ms ease-in-out;
}

.floua-player-progress-volume-container {
    cursor: pointer;

    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floua-player-progress-volume {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    appearance: none;

    cursor: pointer;

    height: 5px;
    width: 80px;

    accent-color: var(--color-main);
    background-color: var(--color-main-hover);
}

.floua-player-progress-container::-webkit-slider-thumb,
.floua-player-progress-container::-moz-range-thumb {
    transition: width 150ms ease-in-out, height 150ms ease-in-out;
}

.floua-player-progress-container::-webkit-slider-thumb,
.floua-player-progress-container::-moz-range-thumb {
    background: var(--color-main);
}

.floua-player-progress-container:active::-moz-range-thumb {
    width: 18px;
    height: 18px;

    margin-top: 0px;
    border-radius: 50%;
    appearance: none;

    border: none;
    cursor: pointer;
    background: var(--color-main-hover);
}

.floua-player-progress-container:active::-webkit-slider-thumb {
    width: 18px;
    height: 18px;

    margin-top: 0px;
    border-radius: 50%;
    -webkit-appearance: none;

    border: none;
    cursor: pointer;
    background: var(--color-main-hover);

}

.floua-player-progress-container:active::-moz-range-thumb {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    border-radius: 50%;
    appearance: none;

    border: none;
    cursor: pointer;
    background: var(--color-main);
}


.floua-player-progress-container:hover {
    height: 8px;
}

.floua-player-progress-container:active {
    height: 12px;
}

.floua-player-controls-left,
.floua-player-controls-right {
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.floua-player-controls-icon {
    cursor: pointer;
}

/********************** Floua Video Carousel **********************/
.floua-video-carousel-container {
    padding: 10px 15px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.floua-video-carousel-wrapper {
    position: relative;
}

.floua-video-carousel-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.floua-video-carousel-header-title {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floua-video-carousel-header-title-text {
    font-size: var(--fs-xbig);
}

.floua-video-carousel-header-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.floua-video-carousel-header-actions-text {
    font-size: var(--fs-small);
}

.floua-video-carousel-body {
    gap: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 5px 0;
}

.floua-video-carousel-body::-webkit-scrollbar {
    display: none;
}

.floua-video-carousel-button {
    width: 40px;
    height: 40px;
    cursor: pointer;

    top: 50%;
    z-index: 10;
    position: absolute;

    border: none;
    border-radius: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-dark-blue-3);
    transition: background-color 250ms ease;
}

.floua-video-carousel-button:hover {
    background-color: var(--color-dark-blue-2);
}

.floua-video-carousel-button-left {
    left: -20px;
}

.floua-video-carousel-button-right {
    right: -20px;
}

.floua-video-carousel-item-container {
    width: 340px;
    flex-shrink: 0;

    gap: 15px;
    display: flex;
    flex-direction: column;
}

.floua-video-carousel-item-video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    background-color: var(--color-gray-light);
    overflow: hidden;
}

.floua-video-carousel-item-video-container-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.floua-video-carousel-item-info-container {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.floua-video-carousel-item-info-channel-avatar {
    width: 50px;
    height: 50px;
    min-width: 50px;

    overflow: hidden;
    border-radius: 50%;
}

.floua-video-carousel-item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.floua-video-carousel-item-info-title {
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--fs-regular);
}

.floua-video-carousel-item-info-extra {
    padding-right: 10px;

    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.floua-video-carousel-item-info-extra {
    font-size: var(--fs-small);
    color: var(--color-gray-bluish);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/********************** Watch Video **********************/
.floua-watch-container {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.floua-watch-left {
    width: 100%;
}

.floua-watch-content {
    margin-top: 15px;
    padding: 5px 10px;
}

.floua-watch-title-container {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.floua-watch-title {
    font-size: var(--fs-big);
}

.floua-watch-actions-likes {
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.floua-watch-actions-likes-btn {
    cursor: pointer;
    color: var(--color-gray-bluish);

    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

.floua-watch-content-extra-container {
    width: 100%;
    margin-top: 15px;

    gap: 35px;
    display: flex;
    flex-direction: row;
}

.floua-watch-content-extra-container-left,
.floua-watch-content-extra-container-right {
    width: 50%;
}

.floua-watch-content-description {
    color: var(--color-gray-bluish);
}

.floua-watch-content-extra-container-selection {
    margin-top: 25px;

    gap: 10px;
    display: none;
}

.floua-watch-content-extra-container-selection-btn {
    cursor: pointer;
    padding: 10px 15px;

    border-radius: 10px;
    background-color: var(--color-dark-blue-2);

    transition: background-color ease-in-out 250ms;
}

.floua-watch-content-extra-container-selection-btn-active {
    background-color: var(--color-main);
}

.floua-watch-content-subtitle-container {
    margin: 20px 0;

    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.floua-watch-content-subtitle-text {
    font-size: var(--fs-medium);
}

.floua-watch-content-extra-container-actions {
    gap: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.floua-watch-content-channel {
    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.floua-watch-content-channel-avatar-container {
    width: 65px;
    overflow: hidden;
    border-radius: 100%
}

.floua-watch-content-channel-info {
    display: flex;
    flex-direction: column;
}

.floua-watch-content-channel-name {
    font-size: var(--fs-small);
}

.floua-watch-content-channel-followers {
    color: var(--color-gray-bluish);
    font-size: var(--fs-xxsmall);
}

.floua-watch-content-extra-actions-btns-container {
    gap: 15px;
    display: flex;
}

.floua-watch-action-btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;

    border-radius: 15px;
}

.floua-watch-action-btn-follow {
    color: var(--color-white);
    background: linear-gradient(25deg, var(--color-dark-blue-4) 25%, var(--color-dark-blue-2) 100%);
    transition: background ease-in-out 250ms;
}

.floua-watch-action-btn-follow:hover {
    background: linear-gradient(25deg, var(--color-dark-blue-4) 15%, var(--color-dark-blue-1) 100%);
}

.floua-watch-action-btn-donate {
    color: var(--color-white);
    background-color: var(--color-main);
    transition: background-color ease-in-out 350ms;
}

.floua-watch-action-btn-donate:hover {
    background-color: var(--color-main-hover);
}

.floua-watch-content-extra-container-info-video {
    margin: 15px 0;
    font-size: var(--fs-xsmall);

    gap: 50px;
    display: flex;
    flex-direction: row;
}

.floua-watch-content-extra-container-info-social {
    margin: 15px 0;

    gap: 10px;
    display: flex;
    flex-direction: row;
}

.floua-watch-content-extra-container-info-tags {
    margin-top: 15px;

    gap: 8px;
    display: flex;
    flex-direction: row;
}


.floua-watch-content-extra-tag {
    color: var(--color-teal);
}

.floua-watch-right {
    padding: 0 10px;
    margin-top: -25px;
}

/********************** Account Settings **********************/
.user-activate-account-container {
    color: var(--color-white);
    font-weight: var(--fw-bold);

    margin: 0px 15px;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: var(--color-main);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-activate-account-btn {
    cursor: pointer;
    padding: 8px 20px;
    font-weight: var(--fw-bold);

    border-radius: 15px;
    background-color: var(--color-black-blue);

    transition: background-color 250ms ease-in-out;
}

.user-activate-account-btn:hover {
    background-color: var(--color-background-player);
}

.account-container {
    gap: 25px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.account-options {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 15px;
}

.account-option-title {
    font-size: var(--fs-big);
    color: var(--color-white);
    font-weight: var(--fw-bold);


    display: flex;
    align-items: center;
    margin: 15px 0;
}

.account-option-title-icon {
    margin-right: 15px;
    font-size: var(--fs-regular);
}

.account-option {
    cursor: pointer;
    color: var(--color-white);
    font-size: var(--fs-small);

    padding: 15px 25px;

    display: flex;
    align-items: center;

    transition: background-color 350ms ease-in-out;
}

.account-option:hover,
.account-option-active {
    background-color: var(--color-main);
}

.account-option-icon {
    margin-right: 10px;
}

.account-data {
    width: 100%;
    padding: 30px 35px;
    border-radius: 10px;

    color: var(--color-white);
    background-color: var(--color-dark-blue-1);
}

/*General*/
.account-data-general-container {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.account-data-general-section-title {
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
}

.account-data-general-basic-container {
    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;

    padding: 15px 0;
}

.account-data-general-basic-role {
    text-transform: capitalize;
}

.account-data-general-basic-avatar {
    width: 100px;
}

.account-data-general-basic-info {
    gap: 10px;
    display: flex;
    flex-direction: column;

    font-size: var(--fs-regular);
}

.account-data-general-basic-info-username {
    text-transform: capitalize;
}

/*Create Channel Section*/
.account-data-create-channel {
    height: 100%;

    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.account-data-create-channel-title {
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
}

.account-data-create-channel-btn {
    padding: 12px 15px;
    font-weight: var(--fw-bold);
    font-size: var(--fs-regular);

    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    border: 2px dashed var(--color-main);

    transition: background-color 350ms ease-in-out;
}

.account-data-create-channel-btn:hover {
    background-color: var(--color-main);
}

/*Overview Channel Section*/


/*Login Tracking Section*/
.account-data-loggin-tracking-container {
    gap: 25px;
    display: flex;
    flex-direction: column;

}

.account-data-loggin-tracking-section-title {
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
}

.account-data-loggin-tracking-section-title-extra {
    font-size: var(--fs-xxsmall);
}

.account-data-loggin-tracking-active-deactivate {
    width: 60px;
    height: 20px;
    border-radius: 35px;
    background-color: var(--color-dark-blue-3);

    cursor: pointer;
    position: relative;
}

.account-data-loggin-tracking-active-deactivate-icon {
    left: -2px;
    bottom: -6px;
    position: absolute;

    transition: left 150ms ease-in-out;
}

.account-data-loggin-tracking-active-deactivate-icon-active {
    left: 40px !important;
}

.account-data-loggin-tracking {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--color-dark-blue-3);

}

.account-data-loggin-tracking-deactivate-btn {
    cursor: pointer;
}

/********************** Create Channel **********************/
.create-channel-container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.create-channel-form {
    gap: 15px;
    display: flex;
    flex-direction: column;

    padding: 40px 35px;
    border-radius: 10px;
    background-color: var(--color-dark-blue-1);
}

.create-channel-form-input-container {
    display: flex;
    flex-direction: column;
}

.create-channel-text {
    color: var(--color-white);
    font-size: var(--fs-regular);
}

.create-channel-looks-like {
    color: var(--color-gray-bluish);
    font-weight: var(--fw-bold);
    font-size: var(--fs-xxsmall);
}

.create-channel-input {
    color: var(--color-white);

    width: 100%;
    padding: 15px 20px;

    border-radius: 10px;
    border: 2px solid var(--color-white);

    margin-bottom: 15px;
}

.create-channel-btn {
    cursor: pointer;
    padding: 15px 20px;

    color: var(--color-white);
    font-weight: var(--fw-bold);

    border-radius: 10px;
    background-color: var(--color-main);
}

.create-channel-slogan {
    margin-top: 15px;
    color: var(--color-main);
}

/********************** Channel **********************/
.channel-view-info-container-p {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    position: relative;

}

.channel-view-banner-container {
    width: 100%;
    height: 250px;

    background-color: var(--color-gray-light);
}

.channel-view-info-container-content {
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 30px 55px;
    background-color: var(--color-dark-blue-2);
}

.channel-view-info-content-img-container {
    width: 100%;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;
}

.channel-view-info-content-img {
    width: 50%;
}

.channel-view-info-content {
    width: 100%;
}

.channel-view-info-content-top {
    width: 100%;

    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
}

.channel-view-info-content-top-left {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.channel-view-info-content-title {
    color: var(--color-white);
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
}

.channel-view-info-content-extra-info-container {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.channel-view-info-content-extra-info-text {
    color: var(--color-gray-bluish);
}

.channel-view-info-content-action {
    cursor: pointer;

    color: var(--color-white);
    font-weight: var(--fw-medium);

    padding: 10px 35px;
    border-radius: 15px;
    background: linear-gradient(110deg, var(--color-dark-blue-2) 1%, var(--color-gray-bluish) 100%);
}

.channel-view-info-content-action-creator {
    background: var(--color-main)
}

.channel-view-info-content-bottom {
    margin-top: 15px;
}

.channel-view-info-content-bottom-text {
    color: var(--color-gray-bluish);
}

.channel-view-body-container {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.channel-view-body-header {
    margin-top: 20px;
    padding: 10px 15px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.channel-view-body-header-options {
    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.channel-options-btn {
    cursor: pointer;

    font-size: var(--fs-small);

    padding: 10px 25px;
    border-radius: 10px;
    background-color: var(--color-dark-blue-2);

    transition: background-color ease-in-out 250ms;
}

.channel-options-btn:hover {
    background-color: var(--color-dark-blue-4);
}

.channel-options-btn-active {
    background-color: var(--color-main);
    transition: background-color ease-in-out 250ms;
}

.channel-view-body-home-container {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

/********************** Floua Studio - Navbar **********************/
.studio-sidebar-btn {
    cursor: pointer;

    right: 7px;
    bottom: 7px;
    position: fixed;
    z-index: 999999;

    padding: 10px;
    border-radius: 100%;
    background-color: var(--color-main);

    display: flex;
    align-items: center;
    justify-content: center;
}

/********************** Floua Studio - Sidebar **********************/
.studio-sidebar {
    width: 280px;
    height: 100%;

    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;


    color: var(--color-white);
    background-color: var(--color-dark-blue-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-y: auto;
    transition: left ease-in-out 150ms;
}

.studio-sidebar-background {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;

    opacity: 0.3;
    background-color: var(--color-black);
}

.studio-icon-logo-container {
    margin: 25px 0;
}

.studio-logo-img {
    width: 45px;
}

.studio-logo-text {
    font-size: var(--fs-small);

    font-weight: var(--fw-bold);
}

.studio-logo-text-extra {
    padding: 2px 5px;
    font-size: var(--fs-xxxsmall);

    border-radius: 5px;
    background-color: var(--color-main);
}

.studio-sidebar-links-container {
    display: flex;
    flex-direction: column;
}

.studio-sidebar-title-container {
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 15px 40px;
}

.studio-sidebar-title {
    margin-top: 4px;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
}

.studio-sidebar-link-container {
    padding: 10px 90px;

    font-size: var(--fs-xsmall);

    transition: color ease-in-out 250ms;
}

.studio-sidebar-link-container:hover,
.studio-sidebar-link-container:active {
    color: var(--color-main);
}

.studio-sidebar-go-back {
    transition: color ease-in-out 250ms;
}

.studio-sidebar-go-back:hover {
    color: var(--color-red);
}

/********************** Floua Studio - Content **********************/
.studio-content {
    color: var(--color-white);
    padding: 35px 40px;
}

.studio-content-breadcrumps-extra-container {
    margin-bottom: 25px;

    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.studio-content-breadcrumps {
    font-weight: var(--fw-bold);

    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.studio-content-breadcrumps-active {
    color: var(--color-main);
}

.studio-content-title-container {
    margin-bottom: 25px;
}

.studio-content-title {
    font-size: var(--fs-xbig);
    font-weight: var(--fw-bold);

    text-transform: capitalize;
}

.studio-content-breadcrumps-button {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    border-radius: 10px;
    padding: 10px 15px;
    background-color: var(--color-main);

    font-size: var(--fs-xsmall);
    font-weight: var(--fw-bold);

    transition: background-color 250ms ease-in-out;
}

.studio-content-breadcrumps-button:hover,
.studio-content-breadcrumps-button:active {
    background-color: var(--color-main-hover);
}

/********************** Floua Studio - Generals **********************/
.studio-content-table-container {
    padding: 15px 45px;

    border-radius: 10px;
    background-color: var(--color-dark-blue-1);

    overflow-x: auto;
}

.studio-content-table-header {
    margin-bottom: 15px;

    gap: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.studio-content-table-header-title {
    color: var(--color-main);

    font-size: var(--fs-big);
    font-weight: var(--fw-bold);
}

.studio-content-table-header-extra-search {
    padding: 5px 10px;

    border-radius: 5px;
    border: 2px solid var(--color-main);
}

.studio-content-table {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.studio-content-table-head {
    width: 100%;

    text-align: left;
}

.studio-content-table-head-element {
    font-size: var(--fs-regular);
}

.studio-content-table-body {
    width: 100%;
}

.studio-content-table-body-element {
    width: 100%;
    text-align: left;
}

.studio-content-table-body-element-text {
    font-size: var(--fs-small);
    padding: 20px 0;
}

.studio-content-table-body-element-text-link {
    color: var(--color-main);
    transition: color 250ms ease-in-out;
}

.studio-content-table-body-element-text-link:hover,
.studio-content-table-body-element-text-link:active {
    color: var(--color-main-hover);
}

.studio-content-summary {
    width: 100%;

    gap: 15px;
    display: flex;
    flex-direction: row;

    margin-bottom: 25px;
}

.studio-content-summary-block {
    width: 100%;
    padding: 15px 25px;

    border-radius: 10px;
    background-color: var(--color-dark-blue-1);
}

.studio-content-summary-block-info {
    gap: 20px;
    display: flex;
}

.studio-content-summary-block-info-icon-container {
    width: 50px;
    height: 50px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--fs-big);
}

.studio-content-summary-block-vals-container {
    font-size: var(--fs-regular);

    display: flex;
    flex-direction: column;
}

.studio-content-summary-block-info-icon {
    position: absolute;
}

.studio-content-summary-block-info-icon-background {
    width: 100%;
    height: 100%;
    opacity: 1;

    position: absolute;
    border-radius: 5px;
    background-color: var(--color-main);
}

.studio-content-summary-block-text {
    font-size: var(--fs-xxsmall);
    color: var(--color-gray-bluish);
}

/********************** Floua Studio - Channel Manage **********************/
.studio-content-channel-canva {
    margin-bottom: 25px;

    gap: 15px;
    display: flex;
    flex-direction: row;
}

.studio-content-channel-canva-left {
    padding: 15px 25px;

    width: 60%;
    border-radius: 10px;
    background-color: var(--color-dark-blue-1);
}

.studio-content-channel-canva-right {
    max-height: 700px;
    padding: 15px 25px;

    width: 40%;
    border-radius: 10px;
    background-color: var(--color-dark-blue-1);

    display: flex;
    align-items: center;
    justify-content: center;
}

/********************** Floua Studio - Channel Upload**********************/
.studio-content-upload {
    width: 100%;
    min-height: 400px;

    gap: 15px;
    display: flex;
    flex-direction: row;
}

.studio-content-upload-left {
    width: 55%;
    padding: 15px 25px;
    background-color: var(--color-dark-blue-1);
}

.studio-content-upload-right {
    width: 45%;
    padding: 15px 25px;
    background-color: var(--color-dark-blue-1);
}

.studio-content-upload-input-container {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.studio-content-upload-input {
    margin-top: 10px;

    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--color-main);
}

.studio-content-upload-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: pointer;
}

.studio-content-upload-input-option:hover {
    background-color: var(--color-dark-blue-3);
}

.studio-content-upload-input-option {
    padding: 15px 10px;
    border: none;

    background-color: var(--color-dark-blue-3);
}

.studio-content-upload-input-option:hover {
    background-color: var(--color-dark-blue-2);
}

.studio-content-upload-input-option:checked {
    background-color: var(--color-black-blue);
}

.studio-content-upload-btn {
    cursor: pointer;
    font-weight: var(--fw-bold);
    font-size: var(--fs-regular);

    text-align: center;
    padding: 10px 15px;

    border-radius: 10px;
    background-color: var(--color-main);

    transition: background-color 250ms ease-in-out;
}

.studio-content-upload-btn-disabled {
    cursor: not-allowed;
    background-color: var(--color-gray-bluish);
}

.studio-content-upload-input-thumbnail-container {
    margin: 15px 0;
}

.studio-content-upload-thumbnail-container {
    height: 250px;
    cursor: pointer;

    padding: 45px 35px;
    border-radius: 10px;
    border: 2px dashed var(--color-main);

    transition: height 500ms ease-in-out, background-color 750ms ease-in-out;
}

.studio-content-upload-thumbnail-preview {
    margin: 35px 0;
}

.studio-content-upload-thumbnail-image {
    margin-top: 20px;
}

.studio-content-upload-video-container {
    height: 500px;
    cursor: pointer;

    padding: 45px 35px;
    border-radius: 10px;
    border: 2px dashed var(--color-main);

    transition: height 500ms ease-in-out, background-color 750ms ease-in-out;
}

.studio-content-upload-video-container-change,
.studio-content-upload-input-thumbnail-container-change {
    height: 300px;

    border: none;
    background-color: var(--color-main);
}

.studio-content-upload-video-info,
.studio-content-upload-thumbnail-info {
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.studio-content-upload-video-info-text,
.studio-content-upload-thumbnail-info-text {
    margin-top: 15px;
    font-size: var(--fs-regular);
}

.studio-content-upload-video-extra-container {
    margin-top: 15px;
}

/********************** Media Queries **********************/
@media (max-width: 2200px) {}

@media (max-width: 1800px) {}

@media (max-width: 1400px) {

    /*** Watch Video ***/

    .floua-watch-content-extra-container {
        flex-direction: column-reverse;
    }

    .floua-watch-content-extra-container-left,
    .floua-watch-content-extra-container-right {
        width: 100%;
    }

    .floua-watch-content-extra-container {
        gap: 15px;
    }

    .floua-watch-content-extra-container-selection-hidden {
        display: none;
    }

    .floua-watch-content-extra-container-selection {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 1200px) {

    /*** Navbar ***/
    #search-btn {
        display: block;
    }

    .search-backdrop {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        position: fixed;
        background-color: var(--color-backdrop);
    }

    #search-result-input {
        inset: 0;
        width: 70%;
        z-index: 2;

        top: 220px;
        left: 15%;
        display: none;
        position: fixed;

        border-radius: 10px;
        background-color: var(--color-dark-blue-3);
    }

    .search-results {
        display: none;
    }

    .navbar-actions {
        display: none;
    }

    /*** Sidebar ***/
    .sidebar {
        left: -270px;
        position: absolute;
    }

    .sidebar-hide {
        left: 0px;
    }

    /*** Content ***/
    .content {
        margin-left: 0;
    }

    /*** Studio Sidebar ***/
    .studio-sidebar {
        left: -280px;
        position: fixed;
    }

    .studio-content-shide {
        left: 0px;
    }

    /*** Studio Content ***/
    .studio-content {
        padding: 25px 25px;
    }

    /*** Studio General ***/
    .studio-content-summary {
        flex-direction: column;
    }

    /*** Floua Studio - Channel Manage ***/
    .studio-content-channel-canva {
        flex-direction: column;
    }

    .studio-content-channel-canva-left {
        width: 100%;
    }

    .studio-content-channel-canva-right {
        width: 100%;
    }

    .studio-content-channel-canva-left,
    .studio-content-channel-canva-right {
        min-height: 400px;
    }

    /*** Floua Studio - Upload ***/
    .studio-content-upload {
        flex-direction: column;
    }

    .studio-content-upload-left {
        width: 100%;
    }

    .studio-content-upload-right {
        width: 100%;
    }
}

@media (max-width: 768px) {

    /*** Studio General ***/
    .studio-content-breadcrumps-extra-container {
        align-items: start;
        flex-direction: column;
    }

    /*** Video Carousel ***/
    .floua-video-carousel-button {
        display: none;
    }
}

@media (max-width: 600px) {}

@media (max-width: 500px) {

    /*** Content ***/
    .content {
        padding: 15px 0px;
    }

    /*** Account ***/
    .account-data-general-basic-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .account-data-general-basic-avatar {
        width: 100%;
    }
}

@media (min-width: 600px) {

    /*** Watch Video ***/
    .floua-watch-content-extra-container-actions {
        gap: 15px;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0px;
    }
}

@media (min-width: 1000px) {

    /*** Account ***/
    .account-container {
        flex-direction: row;
    }

    .account-options {
        align-items: flex-start;
        flex-direction: column;
    }

    .account-options {
        width: 20%;

        display: flex;
        margin-bottom: 0;
    }

    .account-option {
        width: 100%;
        text-align: left;
    }

    .account-data {
        margin-top: 15px;
    }

    /*** Channel ***/
    .channel-view-banner-container {
        border-radius: 15px;
    }


    .channel-view-info-container-dark {
        width: 100%;
        height: 115px;
    }

    .channel-view-info-container-content {
        width: 85%;

        bottom: 0;
        position: absolute;

        gap: 25px;
        display: flex;
        flex-direction: row;

        padding: 30px 55px;
        border-radius: 15px;
    }

    .channel-view-info-content-top {
        flex-direction: row;
    }

    .channel-view-info-content-img-container {
        width: 200px;
        border-radius: 100%;

        display: block;
        margin-bottom: 0;
    }

    .channel-view-info-content-img {
        width: 100%;
    }
}

@media (min-width: 1201px) {

    /*** Navbar ***/
    .sidebar-toggle {
        display: none;
    }

    #search-btn {
        display: none;
    }

    .search-container {
        background-color: var(--color-dark-blue-3);
    }

    /*** Sidebar ***/
    .sidebar {
        margin-left: 0;
    }

    .sidebar-hide {
        left: 0px;
    }

    #sidebar-actions {
        display: none;
    }

    /*** Content ***/
    .content {
        margin-left: 270px;
    }

    .content-shide {
        margin-left: 0;
    }

    /*** Studio Content ***/
    .studio-content {
        margin-left: 280px;
    }

    .studio-content-shide {
        margin-left: 0;
    }

    .studio-sidebar-btn {
        display: none;
    }

    .studio-sidebar-background {
        display: none;
    }
}

@media (min-width: 1400px) {

    /*** Watch Video ***/
    .floua-watch-container {
        flex-direction: row;
    }

    .floua-watch-left {
        width: 75%;
    }

    .floua-watch-right {
        padding: 0;
        margin-top: 0;
    }

}